<section class="input-component">
    <input class="custom-input component-{{ block.settings.input_class }}" placeholder="{{ block.settings.input_placeholder }}">
</section>

{% schema %}
{
    "name": "input",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "input_class",
            "label": "Input field class"
        }
    ]
}
{% endschema %}