<div class="offer-time">
  <div class="offer-time-card">

  </div>
</div>
<style>
    .offer-time{
        display: flex;
    }

    .offer-time-card{
        max-width: 160px;
        width: 100%;
        height: 96px;
        border: 1px solid #553E39;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

{% schema %}
{
    "name": "offer-time",
    "tag": "div"
}

{% endschema %}