<div class="offer-time">
    {% for block in section.blocks %}
        <div class="offer-time-card">
          <p>{{ block.settings.offer-remaining-time }}</p>
        </div>
    {% endfor %}
</div>
<style>
    .offer-time{
        display: flex;
    }

    .offer-time-card{
        max-width: 160px;
        width: 100%;
        height: 96px;
        border: 1px solid #553E39;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

{% schema %}
{
    "name": "offer-time",
    "tag": "div",
    "settings": [
        {
            "type": "number",
            "id": "offer-remaining-time",
            "label": "offer remaining"
        },
    ]
}

{% endschema %}