.banner-class .layout-panel-flex--column{
    max-width: 75%;
    margin: 0 auto;
}

.banner-class .button{
    font-size: 20px;
    line-height: 1;
    max-width: 230px;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #2C2723
}

.banner-content{
    margin-bottom: 20px;
}

@media screen and (max-width: 749px) {
    .banner-class .layout-panel-flex--column{
        max-width: 100%;
        padding: 0 16px;
    }
    .banner-heading p{
        font-size: 48px !important;
    }

    .banner-class .button{
        font-size: 16px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 575px) {
    .banner-heading p{
        font-size: 38px !important;
    }
    .banner-content h6{
        font-size: 14px !important;
    }

    .banner-class .layout-panel-flex{
        gap: 10px;
    }

    .banner-class .button{
        font-size: 14px;
        padding: 10px 0;
        max-width: 150px;
    }
}