.banner-class .layout-panel-flex--column{
    max-width: 75%;
    margin: 0 auto;
  }

  @media screen and (max-width: 749px) {
    .banner-class .layout-panel-flex--column{
      max-width: 100%;
    }
  }